.input-file {
  & input {
    display: none;
  }

  & .file-container {
    display: flex;
    align-items: center;

    margin-top: 0.75rem;

    & .custom-file-upload {
      display: flex;
      cursor: pointer;

      gap: 0.5rem;
      padding: 0.75rem;

      border-radius: 8px;
      background-color: var(--shape-button);

      font: var(--body-sm);
      color: var(--text-heading);

      & img {
        width: 1rem;

        filter: brightness(0) saturate(100%) invert(65%) sepia(72%)
          saturate(2125%) hue-rotate(182deg) brightness(100%) contrast(102%);
      }

      &:hover {
        background-color: var(--shape-hover);
      }
    }

    & p {
      margin-left: 0.75rem;

      font: var(--body-md);
      color: var(--input-placeholder);
    }
  }
}
