.input-container {
  & label {
    display: block;

    width: fit-content;
    margin-bottom: 0.75rem;
  }
}

.event-info .input-duo-container {
  display: flex;
  gap: 1rem;

  & .input-container {
    flex: 1;
  }
}

@media (width <= 1280px) {
  .event-info .input-duo-container {
    flex-direction: column;

    & .mobile {
      width: fit-content;
    }
  }
}

.event-custom .input-duo-container {
  display: flex;
  justify-content: space-between;

  margin-top: 1.75rem;
}

@media (width <= 620px) {
  .event-custom .input-duo-container {
    flex-direction: column;

    gap: 1.5rem;
  }
}

.contact-custom .input-duo-container {
  display: flex;
  gap: 1rem;

  & .input-container {
    flex: 1;
  }
}

@media (width <= 1280px) {
  .contact-custom .input-duo-container {
    flex-direction: column;
  }
}

input[type="text"],
textarea {
  appearance: none;
  resize: none;

  width: 100%;
  padding: 0.815rem 1rem;

  border: 2px solid var(--input-stroke);
  border-radius: 8px;
  background-color: var(--input-base);

  font: var(--body-md);
  color: var(--input-placeholder);

  &::placeholder {
    color: var(--input-placeholder);
  }
}

input[type="radio"] {
  display: none;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--brand-light);
}

input {
  &[required] + .error {
    display: flex;
    align-items: center;

    gap: 0.5rem;
    margin-top: 0.5rem;

    font: var(--body-xs);
    color: var(--danger);

    & img {
      width: 1.25rem;

      filter: brightness(0) saturate(100%) invert(55%) sepia(85%)
        saturate(3292%) hue-rotate(325deg) brightness(101%) contrast(112%);
    }
  }

  &:invalid {
    border: 2px solid var(--danger);
  }

  &:not(:focus):valid + .error {
    display: none;
  }
}
